body {
    background-color: #000000;
    font-family: 'Nunito', sans-serif;
}

button:focus {
    outline: 0;
}

.page-container {
    width: 60%;
    margin: 0 auto;
    padding: 0 25px;
}

.page-header {
    font-size: 60px;
    text-transform: uppercase;
    /*text-align: center;*/
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ff0015, 0 0 30px #ff0015, 0 0 40px #ff0015, 0 0 55px #ff0015, 0 0 75px #ff0015;
}

.sort-button {
    color: #ffffff;
    background-color: transparent;
    border: 0;
    font-size: 18px;
    cursor: pointer;
}

.sort-button:hover {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #2eff00, 0 0 30px #2eff00, 0 0 40px #2eff00, 0 0 55px #2eff00, 0 0 75px #2eff00;
}

.movie-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 50px auto 0;
}

.movie-list-item {
    display: inline-block;
    min-height: 300px;
    width: 32%;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
}

.movie-title {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 15px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    color: rgba(255, 255, 255, .7);
    border-radius: 100px;
}

.movie-poster {
    height: 100%;
    width: 100%;
}

.my-chart {
    width: 200px;
}